@media ( min-width : 1025px) {
	
	main{
	display: flex;
	justify-content: center;
	min-height: min-height: 62vh;
	}
	main > div{
	width:70%;
	
	}
	
}

@media ( min-width : 0px) and (max-width: 1025px) {
	
	main{
	display: flex;
	justify-content: center;
	}
	main > div{
	width:80%;
	
	}
	
}